.new-todo-form {
	width: 80%;
	margin: auto;
	margin-bottom: 1.5rem;
}

#new-todo-body {
	padding: 0;
}

#new-todo-body label,
.new-todo-input {
    margin: 0.25rem auto;
}

#new-todo-body label {
    width: 100%;
    text-align: center;
}

#new-todo-header {
    background-color: rgba(49, 203, 226, 0.03);
}

#new-todo-input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#new-todo-button {
	margin: 1rem auto 1rem auto;
	display: block;
}
